/* styles.css */

/* **************************************** basic styles */

html {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size: 10px;
}

.fixed-nav-bar {
  position: fixed;
  width: 100%;
}

/* **************************************** top nav bar */

#top-nav-bar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(226, 226, 226);
  height: 3.8rem;
  padding-top: 0.4rem;
  top: 0;
}

/* left section */

#top-nav-bar .top-nav-left {
  float: left;
  padding-top: 0.8rem;
  width: 33.3%;
}

#top-nav-bar .top-nav-left button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  float: left;
}

#top-nav-bar .top-nav-left button:first-child {
  margin-left: 1.1rem;
  margin-right: 0.7rem;
}

#top-nav-bar .top-nav-left button svg {;
  height: 1.6rem;
  width: 1.6rem;
}

#top-nav-bar .top-nav-left .topic {
  float: left;
  font-size: 1.375rem;
  font-weight: 700;
  margin-left: 2.3rem;
  text-transform: uppercase;
}

/* centre section */

#top-nav-bar .top-nav-centre {
  float: left;
  height: 2.65rem;
  padding-top: 0.6rem;
  text-align: center;
  width: 33.3%;
}

#top-nav-bar .top-nav-centre svg {
  height: 100%;
}

/* right section */

#top-nav-bar .top-nav-right {
  float: left;
  width: 33.3%;
}

#top-nav-bar .top-nav-right button {
  background-color: rgb(98, 136, 165);
  border: 0.1rem solid rgb(50, 104, 145);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  float: right;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.1rem;
  margin-right: 0.5rem;
  padding: 1rem 1.1rem 0.9rem 1.1rem;
  text-transform: uppercase;
}

#top-nav-bar .top-nav-right button:first-child {
  margin-right: 1.6rem
}

/* **************************************** bottom nav bar */

#bottom-nav-bar {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(226, 226, 226);
  bottom: 0;
  height: 3.8rem;
}

/* **************************************** main */

main {
  background-color: #eee;
  height: 200rem;
}

.main-header{
  width:100%;
  margin:0 auto;  
}

/* .main-header span{
  display:inline-block;
  color: #121212;
} */

.header-image img{
  width:70%;
  margin-left:12.0rem ;
  margin-top:15rem;
  margin-bottom:0.5rem;
 
}

.image-text{
  width:80%;
  
}

.image-text p{
  font-size: 1.7rem;
  line-height: 1.9rem;
  color: #666;
  margin-top:0.5rem;
  margin-left: 12rem;
  margin-right:0.7rem;
  text-size-adjust: 100%;
  font-family:imperial,Georgia, 'Times New Roman', Times, serif
  
}


.header-below{
  width: 100%;
  background-color:violet;
  margin-left:27rem;
  margin-top:4rem;
}

.subheader-1 p{
  font-family:Arial, Helvetica, sans-serif;
  font-style:bold;
  font-size:100%;
  display:inline;
  background-color: yellow;
  color: #333;
  letter-spacing: 0.03rem;
}
.subheader-1 a{
  text-decoration:none;
}

.left-date {

 margin-top:2rem;
 font-family:Arial, Helvetica, sans-serif;
 font-weight:500;
 color: #333;
 letter-spacing: 0.02em;
 font-size: 1.3rem;
 line-height: 1.125rem;
  background-color: aquamarine;
}

.right-subheader {
  /* float:left; */
  background-color: yellow;
  
}


