/* styles.css */
/* no responsive design. we have replicated the site at 1280px wide */
/* **************************************** basic styles */
html {
  font-family: 'PT Serif', serif;
  font-size: 10px;
}

.fixed-nav-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* **************************************** button */
button.blue {
  background-color: rgb(98, 136, 165);
  border: 0.1rem solid rgb(50, 104, 145);
  border-radius: 3px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  float: right;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.1rem;
  margin-right: 0.5rem;
  padding: 1rem 1.1rem 0.9rem 1.1rem;
  text-transform: uppercase;
}

/* **************************************** top nav bar */
#top-nav-bar {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(226, 226, 226);
  height: 3.8rem;
  padding-top: 0.4rem;
  top: 0;
}

/* left section */
#top-nav-bar .top-nav-left {
  float: left;
  padding-top: 0.8rem;
  width: 33.3%;
}

#top-nav-bar .top-nav-left button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  float: left;
}

#top-nav-bar .top-nav-left button:first-child {
  margin-left: 1.1rem;
  margin-right: 0.7rem;
}

#top-nav-bar .top-nav-left button svg {
  height: 1.6rem;
  width: 1.6rem;
}

#top-nav-bar .top-nav-left .topic {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  margin-left: 2.3rem;
  text-transform: uppercase;
}

/* centre section */
#top-nav-bar .top-nav-centre {
  float: left;
  height: 2.65rem;
  padding-top: 0.6rem;
  text-align: center;
  width: 33.3%;
}

#top-nav-bar .top-nav-centre svg {
  height: 100%;
}

/* right section */
#top-nav-bar .top-nav-right {
  float: left;
  width: 33.3%;
}

#top-nav-bar .top-nav-right button:first-child {
  margin-right: 1.6rem
}

/* **************************************** main */
article#body {
  height: 100%;
  margin: 3.8rem 9%;
  position: relative;
}

/* article header */

.title {
  margin: 0 auto;
  max-width: 60rem;
}

.title h1 {
  font-size: 4rem;
  font-style: italic;
  font-weight: 700;
  line-height: 4.8rem;
  max-width: 45rem;
  padding-bottom: 2rem;
  padding-top: 5rem;
}

/* article media */

.article-media {
  font-family: 'Times New Roman', Times, serif;
  margin: 3rem 0;
}

.article-media h1 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;

}

.article-media img.header-image {
  width: 100%;
}

/*.article-media img.article-image {

}

.article-media img.article-video {

}*/

.article-media .media-description {
  color: rgb(102, 102, 102);
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 0.3rem;
  max-width: 72rem;
}

.article-media .media-attribution {
  color: rgb(136, 136, 136);
  font-size: 1.3rem;
  line-height: 1.75rem;
  margin-top: 0.5rem;
}

section.inflation-theory {
  width: 78rem;
  margin: 0 auto;
}

section.inflation-theory-content {
  width: 100%;
  height: 68rem;
  background: url(assets/inflation.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 1rem 0;
}

section.inflation-theory-content p {
  display: inline-block;
  width: 23%;
  padding-left: 1.3rem;
  margin: 14rem 0 3rem 0;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7rem;
  vertical-align: top;
}

section.inflation-theory-content p span {
  text-transform: uppercase;
  font-weight: 700;
}

/* **************************************** article content*/
.article-content {
  margin: 5rem auto 10rem auto;
  max-width: 60rem;
}

.article-content header {
  color: rgb(51, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3rem;
}

.article-content .byline {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.article-content .byline a {
  color: rgb(51, 51, 51);
  text-decoration: underline rgb(204, 204, 204);
  text-decoration-style: solid;
}

.article-content .date-social {
  height: 3rem;
  margin-top: 3rem;
}

.article-content .published-date {
  float: left;
  font-size: 1.4rem;
  font-weight: 500;
  height: 100%;
  line-height: 1.8rem;
  width: 30%;
}

.article-content .social-buttons {
  float: right;
  height: 100%;
  width: 20rem;
}

.article-content .social-buttons li {
  display: inline-block;
  margin-left: 1rem;
}

.article-content .social-buttons svg.round {
  background-color: rgb(238, 238, 238);
  border: 1px solid rgb(238, 238, 238);
  border-radius: 50%;
  color: rgb(0, 0, 0);
  height: 1.5rem;
  line-height: 1.7rem;
  padding: 0.5rem;
  width: 1.5rem;
}

.article-content .social-buttons svg.bookmark {
  height: 2.5rem;
}

.article-content p {
  font-size: 2rem;
  line-height: 3rem;
  color: rgb(51, 51, 51);
  margin-bottom: 1.5rem;
}

.article-content p.article-heading {
  font-weight: bold;
}

/* **************************************** article aside */
aside {
  position: absolute;
  right: 0;
  width: 15%;
}

aside#editors-picks {
  font-size: 1.4rem;
  font-weight: 700;
  top: 150rem;
}

aside#editors-picks h1 {
  border-bottom: 1px solid rgb(226, 226, 226);
  color: rgb(0, 0, 0);
  line-height: 1.4rem;
  padding: 1.6rem 0;
  top: 150rem;
}

aside#editors-picks li {
  border-bottom: 1px solid rgb(226, 226, 226);
  line-height: 1.7rem;
  padding: 1.6rem 0;
}

aside#editors-picks li a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

aside#editors-picks li a:hover {
  text-decoration: underline;
}

aside#sign-up {
  bottom: 150rem;
  font-family: Arial, sans-serif;
}

aside#sign-up h1 {
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-bottom: 0.5rem;
}

aside#sign-up p {
  color: rgb(102, 102, 102);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6rem;
  margin-bottom: 1rem;
}

aside#sign-up button {
  width: 100%;
}

/* **************************************** bottom nav bar */
#bottom-nav-bar {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(0, 0, 0);
  bottom: 0;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  height: 3.8rem;
  line-height: 1.7rem;
}

#bottom-nav-bar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#bottom-nav-left {
  float: left;
  height: 100%;
  margin-left: 20%;
  text-align: center;
  width: 60%;
}

#bottom-nav-left p {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3.8rem;
}

#bottom-nav-right {
  float: right;
  height: 100%;
  vertical-align: middle;
  width: 20%;
}

#bottom-nav-right p {
  float: left;
  font-size: 1.5rem;
  line-height: 3.8rem;
  margin-right: 1.5rem;
}

#bottom-nav-right button {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
}

#bottom-nav-right button svg {
  height: 2rem;
  margin-top: 0.3rem;
  transform: rotate(-90deg);
}

/* ****************************************  */

.bottom-text{
  /* background-color: aqua; */
  font-family:Arial, Helvetica, sans-serif;
  color:#999;
  font-size: 1.2rem;
  margin-bottom:2.5rem;
}
.bottom-text a{
  text-decoration:none;
  color:#999;
  font-size: 1.2rem;

}

/* **************************************** bottom-grid */

.bottom-grid-container{
  display:inline-block;
  height:15rem;
  width:27rem;
  margin:0.75rem;
 
}

.header h2{
  margin-left:1rem;
  margin-top: 2.5rem;
  margin-bottom:0.8rem;
  
}
.header a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size:1.5rem;
  color:#333;
  text-decoration: none;
}

.bottom-grid-container img{
  height:15rem;
  width:27rem;
  
}
#caption{
  text-align: end;
  color:rgb(153, 153, 153);
  margin-top:0.4rem;
  margin-bottom:0.4rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
hr{
  display:inherit;
  color:black;
 
}
.bottom-image-description a{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:500;
  color: rgb(18, 18, 18);
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-decoration: none;
}
/* 
.bottom-image-description time{
 
  font-family: helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.3px;
  color: rgb(153, 153, 153);
} */
/* **************************************** bottom-menu */

.main-bottom-menu{
 margin-top:0.5rem;
}

.bottom-menu-heading svg{
  display: block;
  height: 44px;
  width: 184px;
}

.bottom-menu-anchor{
  /* background-color: aqua; */
  position:relative;
  left:76.55rem;
  bottom:3rem;
  display:inline;
}

.bottom-menu-heading a{
  color: rgb(98, 136, 165);
  font-family: nyt-franklin;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}

.bottom-menu-items{
  padding: 1em;
  -moz-column-count: 5;
  -moz-column-gap: 1em;
  -webkit-column-count: 5;
  -webkit-column-gap: 1em;
  column-count: 5;
  column-gap: 1em;
}
.bottom-menu-1{
  display:inline-block;
  vertical-align: top;
  width:25%;
}

.bottom-menu-heading h3{
 
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  font-family: nyt-franklin;
  height: 25px;
  line-height: 15px;
  text-transform: uppercase;
  width: 150px;
  margin: 0px;
}
.bottom-links a{
  text-decoration:none;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: nyt-franklin;
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
}

